body{
    
    text-align: center;
}
h1{
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}
.f-line{
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
}
p{
    font-family: 'Cookie', cursive;
}
.top-container{
    background-color: rgb(191, 236, 229);
}
.topcloud{
    width: 180px;
    margin-left: 600px;
}
.bottomcloud{
    position: absolute;
    margin-left: 50px;
    width: 180px;
}
.mountain{
    margin-top: 150px;
    width: 1000px;
}
.student{
    width: 150px;
}
.web{
    width: 120px;
    float: left;
    margin-right: 30px;
}
.smartphone{
    width: 120px;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: auto;
}
.scn-line{
    clear: right;
}
